<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neu.dreambuilder.mapper.volunteer.VolunteerStatisticMapper">
    <delete id="deleteLove">
        delete from volun_article_love
        where volun_id = #{volunId}
          and article_id = #{articleId}


    </delete>
    <select id="newThingDonation" resultType="java.util.HashMap">

        with temp as(
            select  d.nickname,dkd.kid_id,dkd.thing_name,dkd.time
            from donor_kid_thing as dkd,donor as d
            where dkd.donor_id = d.id
              and dkd.kid_id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
        )
        select *
        from temp
        where time = (SELECT MAX(time) FROM temp)

    </select>
    <select id="newDonation" resultType="java.util.HashMap">

        with temp as(
            select  d.nickname,dkd.kid_id,dkd.amount,dkd.time
            from donor_kid_donation as dkd,donor as d
            where dkd.donor_id = d.id
              and dkd.kid_id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
        )
        select *
        from temp
        where time = (SELECT MAX(time) FROM temp)

    </select>

    <select id="submitCount" resultType="java.util.Map">

        SELECT vm.mission_id,count(km.reply_id) as count
        FROM volun_to_mission AS vm, kid_to_mission AS km
        WHERE vm.volun_id = #{volunId}
          AND vm.mission_id = km.mission_id
          AND km.reply_id IS NOT NULL
        group by vm.mission_id

    </select>

    <select id="volunRandomMission" resultType="com.neu.dreambuilder.entity.kid.Mission">
        with temp as(
            SELECT m.id, m.tag,m.title,m.description,m.type,m.level,m.point,m.date
            FROM volun_to_mission AS vm,kid_mission AS m
            WHERE vm.volun_id = #{volunId}
              AND vm.mission_id = m.id
        )
        select*
        from temp
        where date =  (SELECT MAX(date) FROM temp)


    </select>

    <select id="hasCheck" resultType="java.util.Map">

        select km.mission_id, count(kr.id) as count
        from kid_to_mission as km
            left join kid_reply as kr on km.reply_id = kr.id and kr.score is not null
        group by km.mission_id

    </select>
    <select id="volunAllMission" resultType="com.neu.dreambuilder.entity.kid.Mission">
        SELECT m.id as id, m.tag as tag,m.title as title,m.description as description,m.type as type,m.level as level,m.point as point,m.date as date
        FROM volun_to_mission AS vm,kid_mission AS m
        WHERE vm.volun_id = #{volunId}
          AND vm.mission_id = m.id
          ORDER BY m.date DESC
    </select>
    <select id="volunMissionKid" resultType="com.neu.dreambuilder.dto.kid.KidVieDto">
        SELECT k.id as kidId,k.photo as kidPic,k.name as kidName
        FROM kid_to_mission as km, kid as k
        WHERE km.mission_id = #{missionId}
          AND km.kid_id = k.id
          AND km.reply_id is not null

    </select>
    <select id="allArticle" resultType="com.neu.dreambuilder.dto.volunteer.ArticleDto">
        SELECT va.id, va.author_name, va.content_pic, va.author_pic, va.title, va.content, va.article_time, COUNT(vac.article_id) AS amount
        FROM volun_article AS va
                 LEFT JOIN volun_article_comment AS vac ON va.id = vac.article_id
        WHERE va.title LIKE CONCAT('%', #{title}, '%')
        GROUP BY va.id
    </select>

    <select id="articleComment" resultType="com.neu.dreambuilder.dto.CommentDto">

        select vac.content,v.name,v.photo,vac.time
        from volunteer as v ,volun_article_comment as vac
        where v.id = vac.volun_id
          and vac.volun_id = #{articleId}
        order by vac.time desc


    </select>
    <select id="allArticleLike" resultType="com.neu.dreambuilder.dto.volunteer.ArticleDto">

        select a.id,a.author_name,a.content_pic,a.author_pic,a.title,a.content,a.article_time,count(*) as amount
        from volun_article_comment as vac, volun_article_like as val , volun_article as a
        where val.volun_id = #{volunId}
          and vac.article_id = val.article_id
          and vac.article_id = a.id
        group by a.id
        order by a.article_time desc


    </select>
    <select id="volunKid" resultType="com.neu.dreambuilder.entity.kid.Kid">

        SELECT *
        FROM kid
        WHERE EXISTS (
                      SELECT vk.kid_id
                      FROM volun_to_kid AS vk
                      WHERE vk.volun_id = #{volunId} AND vk.kid_id = kid.id
                  )

    </select>
    <select id="getIfLove" resultType="java.lang.Long">
        select count(*)
        from volun_article_love as val
        where val.volun_id = #{volunId}
          and val.article_id = #{articleId}

    </select>
    <select id="loveCount" resultType="java.lang.Long">

        select count(*)
        from volun_article_love as val
          where val.article_id = #{articleId}

    </select>


    <select id="inputLove">
        INSERT INTO volun_article_love
        VALUES (#{volunId},#{articleId},1);
    </select>


</mapper>